


input{
    height: 1.5em;

}
.areadocontainer{
display: flex;
justify-content: center;

}

.container{
   
    background-color: rgb(130, 233, 233);
    flex-direction: column;
    display: inline-flex;
    padding: 1em;
    align-items: center;
}



button{
    background-color: rgb(167, 167, 167);
    height: 3em;
    width: 100%;
    border: none;

}